#
# Overrides for default values in cassandra.yaml
#

# Cassandra will listen_address in any case internally, but for medusa we
# need the name of the host (not localhost) here. This file is first processed
# locally and then we do another transform when copying it to remote, this is
# why "raw" is here.
listen_address: '"{% raw %}{{ ansible_host }}{% endraw %}"'

authenticator: {{ "PasswordAuthenticator" if use_password else "AllowAllAuthenticator" }}
authorizer: {{ "CassandraAuthorizer" if use_password else "AllowAllAuthorizer" }}

disk_failure_policy: best_effort

commitlog_sync: batch
commitlog_sync_period: __comment_out__

concurrent_reads: 512
concurrent_writes: 256

row_cache_size: 0MiB

file_cache_size: 2048MiB

memtable_heap_space: 4096MiB
memtable_flush_writers: 8

concurrent_compactors: 8
concurrent_validations: 24
compaction_throughput: 0MiB/s

entire_sstable_stream_throughput_outbound: 0MiB/s
stream_throughput_outbound: 0MiB/s
streaming_connections_per_host: 2

read_request_timeout: 120s
range_request_timeout: 120s
write_request_timeout: 120s
request_timeout: 120s

internode_application_send_queue_capacity: 400MiB
internode_application_send_queue_reserve_endpoint_capacity: 2047MiB
internode_application_send_queue_reserve_global_capacity: 2047MiB
internode_application_receive_queue_capacity: 400MiB
internode_application_receive_queue_reserve_endpoint_capacity: 2047MiB
internode_application_receive_queue_reserve_global_capacity: 2047MiB

tombstone_warn_threshold: 10000000
tombstone_failure_threshold: 100000000

batch_size_warn_threshold: 10MiB
batch_size_fail_threshold: 100MiB

# Disables warnings/failures due to the large number of tables.
keyspaces_warn_threshold: -1
keyspaces_fail_threshold: -1
tables_warn_threshold: -1
tables_fail_threshold: -1

# Increase logging threshold for slow queries from 500ms to 60s.
slow_query_log_timeout: 60s

"disk_access_mode": mmap_index_only

# Secret undocumented parameter, it may be missing in orginal, "!" will add it.
# This needs to be at least as high as other request tmeouts.
"!native_transport_timeout": 120s

native_transport_max_auth_threads: 0
