# {{ ansible_managed }}

services:

  "{{ service_name }}":

    image: {{ cassandra_image_name }}:{{ cassandra_version }}

    network_mode: "host"
    restart: "on-failure:7"

    volumes:
      - type: bind
        source: {{ data_dir }}
        target: /var/lib/cassandra
      - type: bind
        source: "{{ deploy_docker_folder }}/entrypoint-wrapper.sh"
        target: /entrypoint-wrapper.sh
        read_only: true
      - type: bind
        source: "{{ deploy_docker_folder }}/jvm-server-{{ cassandra_version }}.options"
        target: /etc/cassandra/jvm-server.options
        read_only: true
      - type: bind
        source: "{{ deploy_docker_folder }}/jvm11-server-{{ cassandra_version }}.options"
        target: /etc/cassandra/jvm11-server.options
        read_only: true
      - type: bind
        source: {{ logs_dir }}
        target: /var/log/cassandra
      {% if need_jolokia -%}
      - type: bind
        source: "{{ deploy_docker_folder }}/{{ cassandra_files_jolokia_jar }}"
        target: /opt/cassandra/lib/jolokia-jvm.jar
        read_only: true
      {%- endif %}

    environment:
      CASSANDRA_SEEDS: "{{ cluster_seed_hosts_names }}"
      CASSANDRA_CLUSTER_NAME: "{{ cluster_name | default('APDB_TEST') }}"
      {% if need_jolokia -%}
      JVM_EXTRA_OPTS: "-javaagent:/opt/cassandra/lib/jolokia-jvm.jar=port=8778,host=localhost"
      {%- endif %}

    # Casandra logs a lot
    logging:
      driver: json-file
      options:
        max-size: "1g"
        max-file: 10

    # run as regular user to avoid ownership changes by entrypoint, but
    # `data_dir` and files in it (if any) have to be owned by uid 999 already.
    user: cassandra

    configs:
      - cassandra_yaml

    command: ["/entrypoint-wrapper.sh", "cassandra", "-f"]

{% if use_backups %}

  "{{ backup_service_name }}":

    image: {{ medusa_image_name }}:{{ medusa_version }}

    network_mode: "host"
    restart: "on-failure:7"

    volumes:
      - type: bind
        source: {{ data_dir }}
        target: /var/lib/cassandra
      - type: bind
        source: "{{ deploy_docker_folder }}/cassandra-{{ cassandra_version }}.yaml"
        target: /etc/cassandra/cassandra.yaml
        read_only: true
      - type: bind
        source: "{{ deploy_docker_folder }}/medusa.ini"
        target: /etc/medusa/medusa.ini
        read_only: true

    environment:
      MEDUSA_MODE: GRPC

    secrets:
      - source: medusa_aws_credentials
        target: medusa-minio-credentials
        # docker-compose does not support uid/gid
        # uid: "999"
        # gid: "999"
        # mode: 0o400

{% endif %}

{% if use_backups %}

secrets:
  medusa_aws_credentials:
    file: "{{ deploy_docker_folder }}/medusa-minio-credentials"

{% endif %}

configs:
  cassandra_yaml:
    file: "{{ deploy_docker_folder }}/cassandra-{{ cassandra_version }}.yaml"
